
.body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgba(63, 191, 191, 0.4);
    margin: auto;
    max-width: 85em;
}

/* Style the header */
.bbft {
    background-color: #005a87;
    padding: 30px;

    font-size: 25em;
    color: #f2f9ff;
}

.toggler {
  text-align: center;
  margin: auto;
}

/* hide/show js button */

#button {
  padding: .5em 1em;
  text-decoration: none;
  align: center;
  margin: auto
}
#effect {
  position: relative;

  padding: 0.4em;
}
#effect h3 {
  margin: 0;
  padding: 0.4em;
  text-align: center;
}

/* Style the navigation menu */
.nav {
    background color: aqua;
    padding: 20px;
    font-size: 30px;
    text-transform: uppercase;
}

/* Style the list inside the menu */
nav ul {
    list-style-type: disc;
    padding: 0;
}

/* Style the content */
.article-group {
  justify-content: center;
  margin: 2em;
  max-width: 800;
}



.article {
  background-color: rgba(63, 191, 191, 0.4);
  margin-bottom: 2em;
  padding: 1em;

}

@media (min-width: 500px) {
  .article {width: 85%;}
}
@media (min-width: 700px) {
  .article {width: 70%;}
}

.a1,
.a3 {
  align: left;
}

.a2 {
  margin-left: auto;
  text-align: right;
}

.pic {
  width: 100%;
}

/* Style the footer */

.footer {
    background-color: #005a87;
    padding: 10px;
    text-align: center;
    color: #f2f9ff;
}
